@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #4a148c;
  transform: 0.5s;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login {
  position: relative;
  padding: 50px;
  background: #fff;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.login h2 {
  font-weight: 500;
  border-left: 15px solid #4a148c;
  line-height: 1em;
  padding-left: 10px;
  transition: 0.5s;
  color: #333;
  margin-bottom: 25px;
}

.login .inputBox {
  position: relative;
}

.login .inputBox input,
select,
textarea {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border: 2px solid #555;
  font-size: 1em;
  color: #333;
}

.login .inputBox input#btn {
  border: none;
  background: #4a148c;
  color: #fff;
  transition: 0.5s;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}

.login .group {
  display: flex;
  justify-content: space-between;
}

.login .group a {
  color: #333;
  text-decoration: none;
}

.login .group a:nth-child(2) {
  font-weight: 500;
  text-decoration: underline;
}

.colors {
  position: absolute;
  right: 0;
  padding: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colors span {
  position: relative;
  width: 20px;
  height: 20px;
  background: var(--clr);
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.colors span.active {
  /* border: 2px solid darkred; */
  scale: 1.75;
  transition: 0.5s;
}

/* css sendiri */
.inputBox .d-none,
.d-none {
  display: none;
}

.my-alert {
  position: fixed;
  top: 0;
  right: 0;
  background-color: lightgreen;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 9999;
  margin: 25px;
  /* display: none; */
}

.btn-kirim {
  border: none;
  padding: 10px 15px;
  background: #4a148c;
  color: #fff;
  transition: 0.5s;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}

/* .close button {
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: red;
} */

/* logo */

.avbc {
  background-image: url(logo.png);
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.login h5 {
  position: absolute;
  top: 0;
  right: -5px;
  writing-mode: vertical-rl;
  color: #333;
}

label {
  color: #333;
  margin-left: 5px;
}

/* media query */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .login {
    width: fit-content;
    margin: 50px 20px 20px 20px;
  }

  .colors {
    top: 0;
    left: 0;
    flex-direction: row;
    position: fixed;
  }

  .avbc {
    width: 65px;
    height: 65px;
    z-index: 9999;
    top: unset;
  }

  .my-alert {
    top: unset;
    right: unset;
    bottom: 0;
    margin: unset;
    border-radius: 10px;
  }

  .colors span.active {
    /* border: 2px solid darkred; */
    scale: 1;
    transition: 0.5s;
  }
}
